Title: Dealing With Outliers In Pandas  
Slug: pandas_outliers  
Summary: Dealing With Outliers In Pandas  
Date: 2016-05-01 12:00  
Category: Python  
Tags: Data Wrangling  
Authors: Chris Albon

### import modules

In [1]:
import pandas as pd
import numpy as np

### Create dataframe

In [2]:
df = pd.DataFrame(np.random.randn(20, 5))
df.columns = ['score_1', 'score_2', 'score_3', 'score_4', 'score_5']
df

     score_1   score_2   score_3   score_4   score_5
0  -0.452923  0.243534 -1.391494 -0.016823  0.537668
1   3.007882 -1.665672 -0.169920  0.379032 -2.079503
2  -1.286668  0.847424  2.287216  0.265739  2.369859
3   0.562275 -0.147604  0.346061  0.415603 -0.448659
4   0.062926  0.060648 -0.292215 -2.290002  0.593018
5  -0.123137 -0.146967 -0.368708 -0.967826  2.386577
6  -0.746440  0.288095 -0.712928 -0.191046 -1.071496
7  -0.209507 -0.700811  0.929938  0.667083 -0.408863
8   0.297546 -0.024742 -0.205026  0.138912  0.789353
9   2.111184 -0.886407  0.804826  0.215682  2.306237
10  0.547770 -0.552011  0.135647 -0.246258 -1.760332
11  0.192700 -0.420698  0.417287 -0.423710  0.111828
12 -0.711201 -1.352726 -0.315969  1.091738 -0.182190
13  1.642774 -1.745787  0.668148 -0.103947 -0.666239
14 -0.368012 -1.064768 -0.448800 -0.859005  0.597185
15  0.305990  3.298766  1.186536  1.175690 -0.268135
16 -0.359659  2.066634  1.312146  0.435643  1.126016
17 -0.265985  0.713742 -0.187787 -0.455158 -0.710651
18  0.143634  1.292281 -2.956116 -1.816143  0.627381
19  0.748812  0.963422  0.341425  1.014029  0.666552

### Describe the dataframe

In [3]:
df.describe()

         score_1    score_2    score_3    score_4    score_5
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.254998   0.053318   0.069013  -0.078538   0.225780
std     1.016747   1.249338   1.087378   0.896738   1.242739
min    -1.286668  -1.745787  -2.956116  -2.290002  -2.079503
25%    -0.361747  -0.747210  -0.329154  -0.431572  -0.503054
50%     0.103280  -0.085855  -0.017137   0.061044   0.324748
75%     0.551397   0.747162   0.702318   0.420613   0.697252
max     3.007882   3.298766   2.287216   1.175690   2.386577

### Are there any values inthe score_1 above or below 2?

In [4]:
col = df['score_1']
col[np.abs(col) > 2]

1    3.007882
9    2.111184
Name: score_1, dtype: float64